<form>
    <field>
        <id>settings.vpnapi</id>
        <label>vpnapi (API key optional)</label>
        <type>checkbox</type>
        <help>vpnapi.io allows 100 requests per day without an API key</help>
    </field>
    <field>
        <id>settings.vpnapikey</id>
        <label>vpnapi API key</label>
        <type>text</type>
        <help>Increases daily limit from 100 to 1,000 requests. Get a free API key at https://vpnapi.io/signup</help>
    </field>
    <field>
        <id>settings.proxycheck</id>
        <label>proxycheck (API key optional)</label>
        <type>checkbox</type>
        <help>proxycheck.io allows 100 requests per day without an API key</help>
    </field>   
    <field>
        <id>settings.proxycheckkey</id>
        <label>proxycheck API key</label>
        <type>text</type>
        <help>Increases daily limit from 100 to 1,000 requests. Get a free API key at https://proxycheck.io/dashboard/</help>
    </field>
    <field>
        <id>settings.ip2loc</id>
        <label>ip2location (API key optional)</label>
        <type>checkbox</type>
        <help>ip2location allows 20 requests per day without an API key</help>
    </field>
    <field>
        <id>settings.ip2lockey</id>
        <label>ip2location API key</label>
        <type>text</type>
        <help>Key grants 5,000 credits. Get a free API key at https://ip2location.com/register?id=1005</help>
    </field>    
    <field>
        <id>settings.ip2proxy</id>
        <label>ip2proxy (API key optional) </label>
        <type>checkbox</type>
        <help>ip2proxy allows 50 requests TOTAL without an API key</help>
    </field>
    <field>
        <id>settings.ip2proxykey</id>
        <label>ip2proxy API key</label>
        <type>text</type>
        <help>Key grants 5,000 credits. Get a free API key at https://www.ip2location.com/web-service/ip2proxy</help>
    </field>  

    <field>
        <id>settings.ipqs</id>
        <label>ipqualityscore (API key required)</label>
        <type>checkbox</type>
        <help>ipqualityscore.com allows 5,000 requsts per month with a free API key</help>
    </field>
    <field>
        <id>settings.ipqskey</id>
        <label>ipqualityscore API key</label>
        <type>text</type>
        <help>Get a free API key at https://www.ipqualityscore.com/</help>
    </field>
    <field>
        <id>settings.ipbl</id>
        <label>ipblacklist.ai (API key required)</label>
        <type>checkbox</type>
        <help>Allows 1,000 requsts per day with a free API key</help>
    </field>
    <field>
        <id>settings.ipblkey</id>
        <label>IpBlacklist API key </label>
        <type>text</type>
        <help>Get a free API key at https://ipblacklist.ai/</help>
    </field>

    <field>
        <id>settings.scamalytics</id>
        <label>scamalytics (API key required)</label>
        <type>checkbox</type>
        <help>Allows 5,000 requsts per month with a free API key</help>
    </field>
    <field>
        <id>settings.scamalyticsname</id>
        <label>Scamalytics API username</label>
        <type>text</type>
        <help>Get a free API key at https://scamalytics.com/ip/api/enquiry</help>
    </field>    
    <field>
        <id>settings.scamalyticskey</id>
        <label>Scamalytics API key</label>
        <type>text</type>
        <help>Get a free API key at https://scamalytics.com/ip/api/enquiry</help>
    </field>

    <field>
        <id>settings.ipvoid</id>
        <label>ipvoid (API key required)</label>
        <type>checkbox</type>
        <help>Allows 25 credits (~310 requests) with a free API key</help>
    </field>
    <field>
        <id>settings.ipvoidkey</id>
        <label>ipvoid.com API key </label>
        <type>text</type>
        <help>Get a free API key athttps://www.apivoid.com/api/ip-reputation/</help>
    </field>

    <field>
        <id>settings.onionoo</id>
        <label>onionoo TOR directory</label>
        <type>checkbox</type>
        <help>TOR relay directory API - unlimited requests</help>
    </field> 

</form>
